<div class="container">
  <h2>Saved Recipes</h2>
  <!-- <p>Click the buttons to update or delete a recipe.</p> -->
  <ul>
    <li *ngFor="let recipe of recipes">
      <div class="recipe-content">
        {{ recipe.title }}
      </div>
      <div class="button-group">
        <button (click)="viewRecipe(recipe)">View</button>
        <button (click)="updateRecipe(recipe)">Edit</button>
        <button id="delete" (click)="deleteRecipe(recipe)">Delete</button>
      </div>
    </li>
  </ul>
</div>