form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Add a lower-specificity selector to give the button least priority */
button {
  flex: 1;
  width: 100%;
  padding: 3px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: #0056b3;
}

#measurement {
  width: 90px;
  flex: none;
}

select,
input[type="text"] {
  flex: 3;
  width: 100%;
  padding: 2px;
  margin-left: 5px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

input[type="checkbox"]:checked::before {
  display: block;
  text-align: center;
  color: #fff;
}

input[type="checkbox"]:hover {
  border-color: #0056b3;
}

input[type="checkbox"]:focus {
  box-shadow: 0 0 3px #0056b3;
}